.startbtn{
    margin-top:10%;
    margin-left: 40px;
}
.nextbtn
{
    position: relative;
   margin-top: 10px;
}
input{
    border: none;
}


h3 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}
.questiondiv
{
    border-style: solid;
    border-width: medium;
    padding:20px;
    box-shadow: 10px 10px 5px #888888;
    min-width: 70%;
    position: fixed;
   top: 27%;
   left: 20%;
}
