<button type="button" id="startbtn" *ngIf="start" class="btn btn-primary startbtn" (click)="startQuiz()">Start Quiz</button>
<div class="question">
    
        <div class="questiondiv" *ngIf="question">
            <h3>{{question.question}}</h3><br>
            <input type="radio" [(ngModel)]="option" name={{question.id}} value="male"> {{question.options[0]}}<br>
            <input type="radio" name="option" value="female">{{question.options[1]}}<br>
            <input type="radio" name="option" value="other"> {{question.options[2]}}<br>
            <input type="radio" name="option" value="other"> {{question.options[3]}}<br>
            <button type="button" class="btn btn-primary nextbtn" (click)="nextQuestion()">Next Question</button>
    </div>