<my-navbar></my-navbar>
<div class="container">
    <form [formGroup]="signupForm" class="signup-form">
        <div class="form-group">
            <label for="username"><b>Username</b></label>
            <input type="text" id="username" placeholder="Enter Username" name="name" formControlName="username" required minlength="4" #uname>
            <div *ngIf="uname.invalid && (uname.dirty || uname.touched)"
            class="alert alert-danger"> 
            <div *ngIf="name.errors.required">
                    Name is required.
                  </div>
                  <div *ngIf="name.errors.minlength">
                    Name must be at least 4 characters long.
                  </div>
            </div>    
        </div>
        <div class="form-group">
            <label for="email"><b>Mail-Id</b></label>
            <input type="email" id="email" placeholder="Enter Mail-id" name="email" formControlName="email" required>
        </div>
        <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input type="password" id="password" placeholder="Enter Password" name="password" formControlName="password" required>
        </div>
        <button [disabled]="signupForm.status =='INVALID'" type="submit" class="btn btn-success" value="Submit" (click)="SignupFun()">Signup</button>
        <a routerLink="/login">All ready a user ?</a>
    </form>
</div>
